figure.borgerservice {
    background: url('../img/borgerserviceheader.jpg');
    &.topimage {
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 200px;
        @media screen and (min-width: $md) {
            height: 350px;
        }
    }
}


article.borgergridwrapper{
        width: 100%;
        background-color: white;

        div.borgergridcontainer {
                padding: 17px;

                @media screen and (min-width: $md) {
                        display: grid;
                        margin: auto;
                        grid-template-columns: 50% 50%;
                        width: 85%;
                        grid-column-gap: 30px;
                        grid-row-gap: 30px;


                        .itemX{
                                position: relative;
                                height: 240px;

                                .btn {
                                        position: absolute;
                                        bottom: 0;
                                }
                        }

                        .btn {
                                position: absolute;
                                bottom: 0;
                        }

                        .item0 {
                                grid-column: 1 / 3;
                        }
                }

                @media screen and (min-width: $lg) {
                        display: grid;
                        grid-template-columns: 30% 30% 30%;
                        grid-column-gap: 30px;
                        margin: auto;
                        width: $lg;

                        .item0 {
                                grid-column: 1 / 4;
                        }
                }

                div {

                        margin: 15px 0px;

                        h2 {
                                margin: 15px 0px 25px; ;
                        }

                        h3 {
                                margin-bottom: 10px;

                        }

                        a {
                                text-decoration: none;
                                color: black;
                        }

                        .btn {
                                margin: 10px 0px 20px;
                        }
                }


        }

}
