footer {
    background: $blue;
    color: $white;
    padding: 40px;
    // margin-top: 60px;

    @media screen and (min-width: $sm) {
        padding: 60px;
    }

    div{
            ul {
                    list-style-type: none;
                    margin-bottom: 35px;

                    @media screen and (min-width: $sm) {
                        margin-bottom: 15px;
                    }

                    li {
                            margin-bottom: 5px;


                            a {
                                    text-decoration: none;
                                    color: white;
                                }

                        }

                        .first {
                                font-size: 20px;
                                font-weight: 600;
                                line-height: 1.14;
                            }
                }
        }

        .btn {
                margin-top: 50px;
                text-align: center;
                width: 170px;
        }
}

@media screen and (min-width: $sm) {
        .footergrid {
                display: grid;
                grid-template-columns: auto auto;
        }

}

@media screen and (min-width: $lg) {
        .footergrid {
                display: grid;
                grid-template-columns: auto auto auto auto;
                width: $lg;
                margin: auto;
        }

}
