article.gallery {
    position: relative;

    &:before {
        content: '';
        width: 50px;
        height: 50px;
        border-radius: 100px;
        background: $white;
        position: absolute;
        bottom: -25px;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: 2px 1px 4px 0 rgba(0, 0, 0, 0.18);
    }
    &:after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: -7px;
        transform: translateX(-50%);
        background-image: url("data:image/svg+xml, %3Csvg width='20px' height='11px' viewBox='0 0 20 11' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3C!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch --%3E %3Cdesc%3ECreated with Sketch.%3C/desc%3E %3Cdefs%3E%3C/defs%3E %3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E %3Cg id='Subpage' transform='translate(-765.000000, -1080.000000)' fill='%23293952'%3E %3Cg id='Group-2' transform='translate(162.000000, 1068.000000)'%3E %3Cpath d='M617.845756,17.1839803 L608.915466,8.15932539 C608.7051,7.94689154 608.368029,7.94689154 608.157663,8.15932539 C607.947446,8.37190958 607.947446,8.7125354 608.157663,8.92511959 L616.707091,17.5646975 L608.157663,26.2045259 C607.947446,26.4169096 607.947446,26.7577359 608.157663,26.9701196 C608.260912,27.0744573 608.399619,27.1304348 608.534606,27.1304348 C608.669444,27.1304348 608.808349,27.0783662 608.9114,26.9701196 L617.841887,17.9456652 C618.052055,17.7371903 618.052055,17.3924552 617.845756,17.1839803 Z' id='Fill-1' transform='translate(613.000000, 17.565217) rotate(90.000000) translate(-613.000000, -17.565217) '%3E%3C/path%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/svg%3E");
        width: 20px;
        height: 11px;
        transition: 300ms ease;
    }

    ul {
        li {
            padding: 15px;
            figure {       
                padding: 15px;

                @media screen and (min-width: $md) {
                    @include clearfix;
                    max-width: $lg;
                    margin: 0 auto;
                    padding: 60px 0;
                }

                figcaption {

                    @media screen and (min-width: $md) {
                        max-width: 46%;
                        float: right;
                        margin-right: 8%;                        
                    }

                    h2 {
                        color: $blue;
                        margin-bottom: 15px;
                        margin-top: 20px;
                        @media screen and (min-width: $md) {
                            margin-top: 0;   
                        }
                    }

                    p {
                        font-weight: 300;
                        
                        @media screen and (min-width: $md) {
                            font-size: 20px;
                            line-height: 28px;                            
                        }
                    }

                    .btn {
                        margin-top: 40px;
                    }

                }

                img {
                    width: 100%;
                    height: auto;
                    @media screen and (min-width: $md) {
                        width: 46%;
                        float: right;
                    }
                }

            }
        }
    }

    //PAGER
	.bx-controls {
		position: relative;
		z-index: 10;
        // margin-top: 30px;
        bottom: 20px;
		
		@media screen and (min-width: $sm) {	
			bottom: 40px;
		}

		.bx-pager {
			text-align: center;

			.bx-pager-item {
				display: inline-block;
				a {
					color: transparent;
					display: block;
					padding: 5px 7px 20px;
					user-select: none;

					&:after {
						content: '';
						width: 50px;
						height: 2px;
						background: #ccc;
						display: block;
						border-radius: 10px;
						//margin: 0 5px;
						transition: 500ms ease;
					}

					&.active {
						&:after {
							background: $blue;
						}
					}
				}
			}
		}
	}
}