article.gallery {
    ul {
        li {
            padding: 15px;
            figure {
                @include clearfix;

                figcaption {
                    //max-width: 100%;
                    //float: left;

                    h2 {
                        font-weight: 300;
                        color: $blue;
                        font-size: 35px;
                        line-height: 40px;
                        margin-bottom: 15px;
                    }

                    p {
                        font-size: 10px;
                    }
                }

                img {
                    width: 40%;
                    height: auto;
                    float: left;
                }

            }
        }
    }
}