header {
    position: sticky;
    top: 0;
    z-index: 99999;
    border-bottom: 1px solid #dedede;
}

nav {

    &.submenu {
        background: $blue;
        color: $white;
        display: none;

        @media screen and (min-width: $md) {
            display: block;
        }

        ul {
            list-style: none;
            text-align: center;

            li {
                display: inline-block;

                a {
                    font-size: 16px;
                    font-weight: 900;
                    padding: 13px 30px;
                    color: $white;
                    text-transform: uppercase;
                    display: block;
                }
            }
        }
    }//submenu end


    &.mainmenu {
        @include clearfix;
        background: $white;
        padding: 15px;
        position: relative;

        .logo {
            width: 150px;
            display: block;

            @media screen and (min-width: $md) {
                width: 200px;
                float: left;
                margin-top: 6px;
            }

            svg {
                width: 100%;
                height: auto;
                
            }
        }

        .search {
            margin: 30px 0;
            position: relative;

            @media screen and (min-width: $md) {
                float: left;
                margin: 0;
                width: 400px;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }

            &:after {
                content: '';
                background-image: url("data:image/svg+xml, %3Csvg width='23px' height='23px' viewBox='0 0 23 23' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3C!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch --%3E %3Cdesc%3ECreated with Sketch.%3C/desc%3E %3Cdefs%3E%3C/defs%3E %3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E %3Cg id='Forside' transform='translate(-505.000000, -85.000000)' fill='%23000000' fill-rule='nonzero'%3E %3Cg id='Header' transform='translate(-5.000000, 0.000000)'%3E %3Cg id='magnifying-glass' transform='translate(510.000000, 85.000000)'%3E %3Cpath d='M22.8010645,21.827051 L17.210468,16.237694 C18.7101353,14.513969 19.6180971,12.2649667 19.6180971,9.80687361 C19.6180971,4.39600887 15.2160124,0 9.80904857,0 C4.39698381,0 0,4.40110865 0,9.80687361 C0,15.2126386 4.40208472,19.6137472 9.80904857,19.6137472 C12.2676868,19.6137472 14.5171878,18.7059867 16.2412952,17.2066519 L21.8318918,22.7960089 C21.9645154,22.9286031 22.1430472,23 22.3164782,23 C22.4899091,23 22.6684409,22.9337029 22.8010645,22.7960089 C23.0663118,22.5308204 23.0663118,22.0922395 22.8010645,21.827051 Z M1.3721446,9.80687361 C1.3721446,5.15587583 5.15701929,1.37694013 9.80394766,1.37694013 C14.4559769,1.37694013 18.2357507,5.16097561 18.2357507,9.80687361 C18.2357507,14.4527716 14.4559769,18.2419069 9.80394766,18.2419069 C5.15701929,18.2419069 1.3721446,14.4578714 1.3721446,9.80687361 Z' id='Shape'%3E%3C/path%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/svg%3E");
                background-size: 100%;
                width: 20px;
                height: 20px;
                position: absolute;
                top: 50%;
                left: 15px;
                transform: translateY(-50%);
            }
            
            input {
                width: calc(100% - 30px);
                height: 30px;
                border: 0;
                margin: 0 15px;
                border-bottom: 1px solid $blue;
                text-align: center;
                color: $blue;
                font-weight: 300;
                font-size: 20px;
                padding: 25px 0;
            }
        }

        .btn {
            user-select: none;

            @media screen and (max-width: $sm) {
                position: absolute;
                top: 20px;
                right: 15px;
                padding: 7px 10px;
                font-size: 12px;                
            }
            @media screen and (min-width: $md) {
                float: right;
                margin-top: 6px;
            }
        }
    }//submenu end
}

.mega-menu {
    position: relative;
    .menuhide {
        max-height: 0;    
        overflow: hidden;
        transition: 300ms ease;
        background: $blue;
        color: white;

        &.open {
            max-height: 1000px;

            &:after {
                display: block;
            }
        }

        .menu-wrapper {
            padding: 20px;

            @media screen and (min-width: $lg) {
                padding: 60px 0;
            }
        }

        &:after {
            content: '';
            position: absolute;
            top: -10px;
            right: 87px;
            width: 20px;
            height: 20px;
            background: $blue;
            transform: rotate(45deg);
            display: none;
        }
        
        .featured {
            margin-bottom: 40px;
            
            @media screen and (min-width: $md) {
                max-width: 900px;
                margin: 0 auto 40px;
            }
            
            h3 {
                margin-bottom: 40px;
                font-weight: 700;
                font-size: 35px;
            }

            .btn {
                margin-right: 15px;
                margin-bottom: 15px;
            }
        }

        #megamenu {
            list-style: none;
            max-width: 900px;
            margin: 0 auto;

            h3 {
                color: $white;
                font-weight: 600;
                cursor: pointer;
                user-select: none;
                position: relative;
                font-size: 20px;
                line-height: 35px;
                
                &:after {
                    content: '';
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    background-image: url("data:image/svg+xml, %3Csvg width='20px' height='11px' viewBox='0 0 20 11' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3C!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch --%3E %3Cdesc%3ECreated with Sketch.%3C/desc%3E %3Cdefs%3E%3C/defs%3E %3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E %3Cg id='Subpage' transform='translate(-765.000000, -1080.000000)' fill='%23293952'%3E %3Cg id='Group-2' transform='translate(162.000000, 1068.000000)'%3E %3Cpath d='M617.845756,17.1839803 L608.915466,8.15932539 C608.7051,7.94689154 608.368029,7.94689154 608.157663,8.15932539 C607.947446,8.37190958 607.947446,8.7125354 608.157663,8.92511959 L616.707091,17.5646975 L608.157663,26.2045259 C607.947446,26.4169096 607.947446,26.7577359 608.157663,26.9701196 C608.260912,27.0744573 608.399619,27.1304348 608.534606,27.1304348 C608.669444,27.1304348 608.808349,27.0783662 608.9114,26.9701196 L617.841887,17.9456652 C618.052055,17.7371903 618.052055,17.3924552 617.845756,17.1839803 Z' id='Fill-1' transform='translate(613.000000, 17.565217) rotate(90.000000) translate(-613.000000, -17.565217) '%3E%3C/path%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/svg%3E");
                    width: 20px;
                    height: 10px;
                    transition: 300ms ease;
                }

                &.ui-accordion-header-active {
                    &:after {
                        transform: rotate(-180deg);
                    }
                }
            }
        
            li {
                margin-bottom: 20px;
                border-bottom: 1px solid $white;
                padding: 15px 10px;
                margin-bottom: 0;
        
                .ui-accordion-content-active {
                    margin-top: 5px;
                }
            }
        }
    }
}