.grid-container {
        background-color: yellow;
        display: grid;
        grid-template-columns: auto auto auto;
        width: 100%;
        grid-gap: 2px;

        div{
                text-align: center;

                a {
                        text-decoration: none;
                        img {
                                width: 87.5px;
                                height: auto;
                        }
                }
        }

        .item0 {
                grid-column: 1 / 4;
        }
}
