//Breakpoints
$siteWidthWrapper: 1440px;
$xs: 414px;
$sm: 599px;
$md: 767px;
$lg: 1099px;

//Color
$blue: #293952;
$white: #ffffff;
$lightgrey: #f6f6f6;
$green: #a3b645;
$orange: #ea984e;
$red: #bb3445;

//Body
body { background: $lightgrey; }

//Area
section {
    padding: 60px 0;
    max-width: $siteWidthWrapper;
    width: 100%;
    margin: 0 auto;
}


//DESKTOP / MOBILE ONLY
.desktop {
    display: none !important;

    @media screen and (min-width: $md) {
        display: block !important;
    }
}

//TOOLS
// body {
//     &:after {
//         background: $red;
//         color: white;
//         padding: 10px;
//         position: fixed;
//         bottom: 0;
//         right: 0;
//         content: 'MF';

//         @media screen and (min-width: $sm) {
//             content: 'SM';
//         }
//         @media screen and (min-width: $md) {
//             content: 'MD';
//         }
//         @media screen and (min-width: $lg) {
//             content: 'LG';
//         }
//     }
// }