h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

h1 {
    font-size: 50px;
    color: $blue;
    font-weight: 200;
    @media screen and (min-width: $sm) {
        font-size: 66px;
        line-height: 75px;
    }
}

h2 {
    font-weight: 200;
    font-size: 40px;

    @media screen and (min-width: $md) {
        font-size: 66px;
        line-height: 75px;
    }
}

h3 {
    font-weight: 200;
    font-size: 25px;
    
    @media screen and (min-width: $md) {
        font-size: 50px;
        line-height: 60px;
    }
}

h4 {
    font-weight: 700;
        
    @media screen and (min-width: $md) {
        font-size: 26px;
    }
}

a, p {
    font-size: 17px;
    line-height: 22px;
}

p {
    margin-bottom: 15px;
}

a {
    color: $blue;
}